# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#CUSTOM
node_modules
backup
nbproject
delete
output
test
*tmp*/
*delete.*
*tmp.*
*org.*
*Copy.*
*[0-9]+.*
assets/*/*[0-9].*
assets/*/*Delete*.*
assets/*/*Working*.*
assets/*/*Tmp*.*
assets/*/job*
#assets/*/*[job,Working,Tmp,Delete]*.*
#development/*/*/[0-9]+.*
assets/bootstrap/*
!assets/bootstrap/config.json
assets/img
assets/psd/*
!assets/psd/*.psd
